body.home .page-banner {
 margin-top: 14rem;
}

body.home .page-banner__bg-banner {
 height: 44rem;
}

.t-center {
 text-align: center;
}

.c-white {
 color: var(--global-secondary-color);
}

.headline {
 font-weight: 400;
}

.headline--large {
 font-size: 9rem;
}

.headline--medium {
 font-size: 4.25rem;
}

.headline--small {
 font-size: 2.75rem;
 margin-block: 1rem;
}

.headline--small-plus {
 font-size: 2.5rem;
 margin-bottom: 2rem;
}

h3 strong {
 font-size: 2.75rem;
 font-weight: 500;
}

.btn--large {
 font-size: 2.75rem;
}

.btn--medium {
 font-size: 1.75rem;
}

.btn--blue {
 background-color: var(--primary-color);
}

.home-page-content {
 margin: 4rem 0 3rem;
}

.full-width-split {
 display: flex;
}

.full-width-split__one,
.full-width-split__two {
 flex: 1;
 padding: 3rem;
}

.event-summary {
 position: relative;
 display: flex;
 margin-bottom: 2.5rem;
 padding-left: 10rem;
 min-height: 77px;
}

.event-summary__date {
 display: block;
 top: 0;
 left: 0;
 position: absolute;
 padding: 1.4rem 0 1.1rem 0;
 color: var(--global-secondary-color);
 border-radius: 50%;
 background-color: var(--secondary-color);
 width: 80px;
}

.event-summary__month {
 display: block;
 font-size: 1.9rem;
 font-weight: 300;
 text-transform: uppercase;
}

.event-summary__day {
 display: block;
 font-size: 2.1rem;
 font-weight: 700;
}

.headline--tiny {
 margin-bottom: 0.25rem;
}

.event-summary__title a {
 color: var(--primary-color);
 font-size: 2.1rem;
}

.gray {
 color: #999;
}

.nu:hover {
 color: var(--global-primary-color);
}