:root {
 --global-primary-color: #000;
 --global-secondary-color: #fff;
 --primary-color: #012A60;
 --secondary-color: #002047;
 --tertiary-color: #E6212E;
 --primary-font: "Poppins", sans-serif;
 --secondary-font: "Work Sans", sans-serif;
}

* {
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 scroll-behavior: smooth;
 font-family: var(--primary-font);
 color: var(--global-primary-color);
 font-size: 1.4rem;
 padding: 0;
 margin: 0;
}

html,
body {
 font-size: 62.5%;
 height: 100%;
 margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: var(--secondary-font);
}

h1 {
 font-size: 7rem;
}

.header-container,
.footer-container,
.main-container {
 max-width: 112rem;
 width: 100%;
 margin-inline: auto;
}

.main-container {
 padding: 0 3rem;
}

.header-container,
.footer-container {
 padding: 1.5rem 3rem;
}