.header {
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 background-color: var(--global-secondary-color);
 padding-block: 1rem;
}

.header-container,
.utility-container,
.nav-container,
.nav-utilities,
.nav-container div .menu {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.nav-container div .menu .menu-item {
 padding: 0.5rem 1rem;
}

.nav-container div .menu .menu-item a {
 position: relative;
 width: max-content;
}

.nav-container div .menu .menu-item a::after {
 content: '';
 background-color: var(--tertiary-color);
 border-radius: 10px;
 position: absolute;
 transition: 100ms;
 height: 2px;
 width: 0;
 bottom: 0;
 left: 0;
}

.nav-container div .menu .menu-item a:hover::after {
 width: 100%;
}

.nav-container div .menu .menu-item .sub-menu {
 position: absolute;
 display: none;
}

.nav-container div .menu .menu-item:hover .sub-menu {
 display: block;
 padding-block: 0.5rem;
 background-color: var(--global-secondary-color);
 border-radius: .2rem;
}

.nav-container div .menu .menu-item:hover .sub-menu .menu-item {
 padding-block: 0.5rem;
}

.nav-container div .menu .menu-item .sub-menu .menu-item a {
 position: relative;
 width: max-content;
}

.nav-container div .menu .menu-item .sub-menu .menu-item a::after {
 content: '';
 background-color: var(--secondary-color);
 border-radius: 10px;
 position: absolute;
 transition: 100ms;
 height: 2px;
 width: 0;
 bottom: 0;
 left: 0;
}

.nav-container div .menu .menu-item .sub-menu .menu-item a:hover::after {
 width: 100%;
}

.nav-utilities .login,
.nav-utilities .signup,
.search-trigger .fa-magnifying-glass {
 padding: 0.5rem 1rem;
}

.login a,
.signup a {
 padding: 0.5rem 2rem;
 color: var(--global-secondary-color);
 border-radius: 5px;
}

.login a {
 background-color: var(--primary-color);
}

.signup a {
 background-color: var(--tertiary-color);
}

.login a:hover {
 background-color: var(--tertiary-color);
 transition: 300ms;
}

.signup a:hover {
 background-color: var(--primary-color);
 transition: 300ms;
}