.header {
 width: 100%;
 position: fixed;
 top: 0;
 /* background-color: white; */
}

.header-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.nav-container,
.nav-wrapper,
.nav-utilities {
 display: flex;
 align-items: center;
 column-gap: .5rem;
}

.links,
.btn:not(:last-child),
.search-trigger:not(:last-child) {
 margin-right: 1rem;
}

.link-item,
.btn,
.search-trigger {
 cursor: pointer;
}

.link-items:hover {
 color: rgb(228, 151, 50);
}

.btn {
 padding: .5rem 1rem;
}

.btn-login,
.btn-sign-up {
 border-radius: .2rem;
 color: var(--global-secondary-color);
}

.btn-login {
 background-color: var(--primary-color);
}

.btn-sign-up {
 background-color: var(--tertiary-color);
}

.btn-login:hover {
 background-color: var(--global-secondary-color);
 border: .1rem solid var(--primary-color);
 color: var(--primary-color);
 padding: .4rem .9rem;
}

.btn-sign-up:hover {
 background-color: var(--global-secondary-color);
 border: .1rem solid var(--tertiary-color);
 color: var(--tertiary-color);
 padding: .4rem .9rem;
}

.link-item:hover {
 color: var(--tertiary-color);
 font-weight: 400;
}