.page-banner {
 margin-top: 15.5rem;
}

.page-banner__bg-banner {
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 background-image: url(../screenshot.png);
 height: 36.5rem;
 filter: brightness(0.5);
 z-index: -1;
}

.page-banner__title,
.page-banner__intro p {
 color: var(--global-secondary-color);
}

.page-banner__intro p {
 font-size: 2rem;
}

.metabox {
 background-color: var(--tertiary-color);
 border-radius: 0.5rem;
 padding: .6rem 1rem;
 display: inline-block;
}

.metabox--position-up {
 float: left;
 width: 100%;
 position: relative;
 bottom: 1rem;
 margin-bottom: 3rem;
}

.fa-home {
 color: var(--global-secondary-color);
}

/* .metabox__blog-home-link,
.metabox__main {
 color: var(--global-secondary-color);
 padding: .6rem 1rem;
}

.metabox__blog-home-link {
 background-color: var(--primary-color);
 border-radius: 0.5rem 0 0 0.5rem;
}

.metabox__main {
 background-color: var(--tertiary-color);
 border-radius: 0 0.5rem 0.5rem 0;
} */

.page-links {
 float: right;
 width: 30%;
 margin: 0 0 1.5rem 1.5rem;
 position: relative;
}

.page-links__title {
 background-color: var(--secondary-color);
 text-align: center;
 padding-block: 1.5rem;
 margin: 0;
}

.min-list {
 padding: 0;
 margin: 0;
}

.min-list li {
 text-align: center;
 padding-block: 1.5rem;
 background-color: var(--tertiary-color);
}

.min-list li:nth-child(1) {
 background-color: var(--primary-color);
}

.min-list li a,
.page-links__title a {
 color: var(--global-secondary-color);
}

/* .container.page-section {
 position: relative;
 padding-top: 2rem;
} */